<<<<<<< HEAD
<% @followers.each do |follower| %>
	<p><a href="/users/#{@user.id}"><%= follower.username %></a></p>
	<p><%= follower.email %></p>
	<p><%= follower.bio %></p>
<% end %>
=======
<header>
<p><h2 class="username">Username Followers</h2></p>

<nav class="nav">
	<ul>
		<li><a href="#">Followers</a></li>
		<li><a href="#">Followees</a></li>
		<li><a href="/user/<%=@user.id%>">Profile</a></li>
	</ul>
</nav>

</header>

<section class="mytweets">
<article class="grey">
<p class="grey">Followers</p>
<% array = Array.new(10, "Follower") %> <% array.each do |x| %>
<p class="grey"><%= x %></p>
<% end %>
</article>
</section>
>>>>>>> 632ba09fa4254b14ad0e28841a2fa758ca783d76
