




<div class=tweet_box>

<% access=false %>
<h1 id=user_welcome>Welcome <%=@user.username %></h1>
<nav class="nav">
	<ul>
		<li><a href="/users/<%= @user.id %>/followers">Followers</a></li>
		<li><a href="/users/<%= @user.id %>/followees">Following</a></li>
		<li><a href="/users/index">All Users</a></li>
		<% if @user.following?(params[:id]) %>
		<li><a href="/users/<%= params[:id] %>/follow">Unfollow</a></li>
		<% else %>
		<li><a href="/users/<%= params[:id] %>/follow">Follow </a></li>
		<% end %>
	</ul>
</nav>
<% if @user.id == @session %>
	<form action="/users/<%= @user.id %>/tweet" method="post">
		<label for="content">Enter Your Tweet: </label>
		<input type="text" name="content">
		<input type="submit" value="Tweet">
	</form>

	<% access = true %>

<% end %>


<fieldset>

	<% @tweets.each do |t| %>
		<p><%= t.content %></p>
	<% if access %>
	<form action="/users/<%= @user.id %>/tweet/<%= t.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<% end %>

	<% end %>
</fieldset>
</div>

<!-- <h1 class="logo">Logo placeholder</h1>

<header>
<h2 class="username">Username</h2>

<nav class="navy"><a href="#">Followers</a> <a href="#">Followees</a> <a href="#">All Users</a></nav>

<section class="bio"><article><p><%= "Bio / Description" %></p></article></section>
</header>

<section class="mytweets">
<article class="grey">
<p class="grey">My Tweets</p>
<% array = Array.new(10, "Tweet") %> <% array.each do |x| %>
<p class="grey"><%= x %></p>
<% end %>
</article>
</section> -->

